.gamegui {

  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  pointer-events: none;

  .top-banner {
    position:relative;
    $height : 80px;
    width:100%;
    height:$height;

    // The wave timeline
    .wave-indicator {
      width:300px;
      height:10px;
      background-color: rgba(0, 0, 0, 0.5);
      position:absolute;
      top : 30px;
      left:50%;
      transform: translateX(-50%);

      // The wave pointer will move according to the current wave position
      .wave-pointer {
        width:10px;
        height:30px;
        background-color: darkred;
        position:absolute;
        top:-10px;
        right:0;
      }
    }

    .top-button {
      $size : 150px;

      pointer-events: all;
      background-color: #2D2D37;
      display:inline-block;
      width: $size;
      height: $height;
      line-height:$height;
      text-align: center;
      font-size: 2em;
      color:white;
      cursor: pointer;
    }
  }

  .left-banner {
    $width : 150px;

    width: $width;

    .tower {
      margin-top: 10px;
      width : $width;
      height : 50px;

      background-color: #686872;
      line-height:50px;
      text-align: center;
      font-size: 1.2em;
      color:white;
      pointer-events: all;
      cursor: pointer;


    }

  }
}

.debug {
  position:absolute;
  z-index:2;
  background-color: white;
  font-family: sans-serif;
  border: 1px solid #5890AD;
  padding:10px;

}